[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NetOrigin"]
	path = NetOrigin
	url = https://github.com/jmanitz/netorigin
	shallow = true
	registered = true
[submodule "samplingbook"]
	path = samplingbook
	url = https://github.com/jmanitz/samplingbook
	shallow = true
	registered = true
